*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f5f5f5;
}
.my-header{
    width: 100%;
}
.my-header .top-bar{
    width: 100%;
    display: flex;
    padding: 0.2rem 0;
    font-size: 13px;
    padding: 0 8rem;
    background-color: #141414;
}
.my-header .top-bar .content{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}
.my-header .top-bar .content i{
    color: rgb(247, 195, 23);
}
.my-header .top-bar a{
    text-decoration: none;
    color: #d3d3d3;
}
.my-header .top-bar .login-register{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 3px;
}
.my-header .top-bar .login-register div:hover a{
    color: aqua;
}
.my-header .top-bar .login-register i{
    color: rgb(255, 255, 255);
}
.my-header .logo-search-cart{
    width: 100%;
    background-color: #252525;
    display: flex;
    padding: 0 8rem;
}
.my-header .logo-search-cart .logo{
    width: 168px;
    background-color: yellowgreen;
    align-items: center;
    justify-content: center;
}
.my-header .logo-search-cart .logo img{
    width: 100%;
    height: 100%;
}
.my-header .logo-search-cart .search{
    width: 70%;
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
}
.my-header .logo-search-cart .search input{
    width:1000px;
    height: 30px;
    border: none;
    padding: 0 1rem;
    font-size: 14px;
    border-radius: 5px 0 0 5px;
}
.my-header .logo-search-cart .search div{
    width: 30px;
    height: 30px;
    background-color: #414141;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
}
.my-header .logo-search-cart .search div i{
    color: white;
}

.my-header .logo-search-cart .cart{
    width: 20%;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 25px;
    padding-top: 1rem;
}
.my-header .logo-search-cart .cart .sale{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    padding: 0.2rem 0;
}
.my-header .logo-search-cart .cart .sale i{
    font-size: 30px;
    color: white;
}
.my-header .logo-search-cart .cart .sale .icon{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    top : 0;
    left: 39px;
}
.my-header .logo-search-cart .cart .sale:hover{
    color: aqua;
}
.my-header .menu{
    width: 100%;
    background-color: #1e1e1e;
    padding: 0 8rem;
}
.menu  ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

.menu ul li{
    padding: 0.5rem 0;
    position: relative;
    cursor: pointer;
}
.menu ul li a{
    text-decoration: none;
    color: white;
    display: flex;
}
.menu ul li .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1e1e1e !important;
    border: 1px solid #ddd;
    padding-right: 2rem;
  }
  
  .menu ul li:hover .dropdown-menu {
    display: flex;
  }
  
  .menu .dropdown-menu .submenu {
    display: flex;
  }

  .submenu ul li{
    width: 150px;
  }
  .submenu div{
    width: 150px;
    color: red;
    font-size: 14px;
  }
  
  .menu .dropdown-menu .submenu ul {
    display: flex;
    flex-direction: column;
  }

.menu ul li:hover:not(.submenu){
    background-color: rgb(48, 45, 45);
    transition: 0.5s;
}
.menu ul li a i{
    transform: rotate(270deg);
    margin-top: 2.6px;
}
.menu ul li:hover a .icon{
    transform: rotate(0deg);
    margin-top: 5px;
}
.my-body{
    width: 100%;
    padding: 0 8rem;
}
.my-body .container-banner{
    display: flex;
    gap: 10px;
}
.my-body .container-banner .my-banner{
    width: 80%;
}
.my-body .trade-mark{
    width: 20%;
    background-color: yellowgreen;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-body .trade-mark img{
    width: 100%;
    height: 100%;
}
.my-body .contact{
    width: 100%;
    position: relative;
    padding: 1rem 0;
}
.my-body .contact .title{
    width: 160px;
    height: 100%;
    background-color: #ffc269;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 1rem 0;
    color: white;
    font-weight: bold;
}
.my-body .contact .title span{
    z-index: 2;
}
.my-body .contact .title .icon{
    width: 35px;
    height: 100%;
    background-color: #ffc269;
    position: absolute;
    right:-10%;
    transform: rotate(135deg);
    z-index: 1;
}
.my-body .contact .content{
    width: 100%;
    height: 35px;
    position: relative;
    background-color: #ffddac;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.content-title{
    animation: scroll 20s ease-in-out infinite;
    z-index: 0;
    color: black;
    font-size: 14px;
}
@keyframes scroll{
    from{
        transform: translateX(270%);
    }
    to{
        transform: translateX(-100%);
    }
}

.my-body .product{
    width: 100%;
    height: 100vh;
   
}
.my-body .product .product-title{
    width: 100%;
    display: flex;
}
.my-body .product .product-title .title-1{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #cecece;
    width: 80%;
    margin: 0px auto;
    position: relative;
    color: #ff2d2d;
}
.my-body .product .product-title .title-1 > span{
    margin: 0px auto;
}
.my-body .product .product-title .title-1 .title-1-1{
    display: flex;
    align-items: center;
}
.my-body .product .product-title .title-1 .title-1-1 a{
    text-decoration: none;
    color: #ff2d2d;
}
.my-body .product .product-title .title-1 .title-1-1:hover,
.my-body .product .product-title .title-1 .title-1-1:hover a{
    color: turquoise;
    transition: 0.3s;
}
.my-body .product .product-title .title-1  .bar{
    width: 25%;
    height: 2px;
    position: absolute;
    background-color: #ff2d2d;
    left: 449px;
    top: 43px;
}



.product-card{
    padding: 1rem 0;
}
.banner-container {
    width: 100%;
   overflow: hidden;
  }
  
  .container-card {
    display: flex;
    scroll-snap-align: start;
    width: fit-content;
    white-space: nowrap;
  }

  .container-card .card .sale{
    position: absolute;
    width: 70px;
    background-color: #34a105;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    top: 15px;
    left: 12px;
    color: white;
    z-index: 1;
  }
 .container-card .card img{
    transition: 0.3s;
 }
 .container-card .card {
    border: none;
 }
 .container-card .card img:hover:not(img-shop){
    transform: scale(1.1);
 }
 .container-card .card:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
 }
 .container-card .card .card-text:hover{
    color: rgb(150, 162, 255);
    cursor: pointer;
    transition: 0.3s;
 }
 .container-card .card .icon{
    cursor: pointer;
 }
.icon-next-prev{
    width: 100%;
    background-color: #1e1e1e;
}

  

